<?xml version="1.0" encoding="UTF-8" ?>   
<!DOCTYPE configuration   
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"   
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<mappers>
		<!--userMapper.xml装载进来 同等于把“dao”的实现装载进来 -->
		<mapper resource="com/apartment/mybatis/mapper/UserMapper.xml" />
		<mapper resource="com/apartment/mybatis/mapper/ApartmentMapper.xml" />
		<mapper resource="com/apartment/mybatis/mapper/ShuSheMapper.xml" />
		<mapper resource="com/apartment/mybatis/mapper/StudentMapper.xml" />
	</mappers>
</configuration> 