body {
	font-family: helvetica, tahoma, verdana, sans-serif;
	padding: 20px;
	font-size: 13px;
	margin: 0;
}

#nav {
	line-height: 27px;
	list-style-type: none;
	text-align: left;
	left: -999em;
	width: 180px;
	position: absolute;
	margin-top: 5px;
	margin: 0;
	padding: 0;
	border: 0;
}

#nav  li {
	float: left;
	width: 180px;
	margin-top: 5px;
}

#nav  a {
	display: block;
	width: 156px;
	text-align: left;
	padding-left: 24px;
}

#nav  a:link {
	text-decoration: none;
}

#nav  a:visited {
	text-decoration: none;
}

#nav a:hover {
	text-decoration: none;
	font-weight: normal;
}

#nav {
	left: auto;
}

#nav {
	left: auto;
}